
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1492759841729'); /* IE9*/
  src: url('iconfont.eot?t=1492759841729#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1492759841729') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1492759841729') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1492759841729#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangzuo:before { content: "\343c"; }

.icon-gouwuche:before { content: "\e602"; }

.icon-dingdan:before { content: "\e783"; }

.icon-wode:before { content: "\e609"; }

.icon-shouye:before { content: "\e6ee"; }


.iconpng {
  display: inline-block;
  width: 22px; height: 22px;
  overflow: visible;
  vertical-align: middle;
  margin-right: 0.4rem;
}
.sst-contract {  background: url('../image/ucenter/contract.png') no-repeat center center;
  background-size:100% 100%;}
.sst-receiveAddress {  background: url('../image/ucenter/receiveAddress.png') no-repeat center center;
  background-size:100% 100%;}
.sst-contactPeople {  background: url('../image/ucenter/contactPeople.png') no-repeat center center;
  background-size:100% 100%;}
.sst-address {  background: url('../image/ucenter/address.png') no-repeat center center;
  background-size:100% 100%;}
.sst-shopName {  background: url('../image/ucenter/shopName.png') no-repeat center center;
  background-size:100% 100%;}

.sst-mobile {  background: url('../image/ucenter/mobile.png') no-repeat center center;
  background-size:100% 100%;}
.sst-qianbao { background: url('../image/ucenter/qianbao.png') no-repeat center center;
  background-size:100% 100%;}



