@charset "utf-8";

body{
	padding-top: 50px;
}

.wallet-header{
	background-color: #fff;
	padding: 30px 20px;
}

.wallet-header img{
	width: 26%;
	margin: auto;
}

.wallet-header p{
	padding-top: 5px;
	color: #333;
	font-size: 30px;
	text-align: center;
}

.wallet-header a{
	height: 44px;
	background-color: #FE9900;
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
	margin-top: 10px;
}

.wallet-list{
	margin-top: 10px;
	background-color: #fff;
}

.wallet-list li{
	position: relative;
	padding: 12px;
}

.wallet-list li .rg{
	color: #FE9900;
}

.wallet-list li h3{
	color: #333;
}

.wallet-list li p{
	font-size: 12px;
	color: #999;
	padding-top: 5px;
}
